* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  margin: auto;
}


.title {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0;
}

.post-form {
  width: 70%;
  margin: auto;
  /* border: 1px solid red; */
}

.user-name-form, .msg-body-form {
  width: 80%;
  margin: auto;
  padding: 10px;
  /* border: 1px solid black; */
}

.label {
  width: 700px;
  height: 45px;
  border: none;
  box-shadow: 0 0 2px 1px #d4d4d5,0 0 0 1px #d4d4d5;
  margin: 10px 0; 
}


.submit-form {
  width: 200px;
  margin: auto
  
}

.submit-btn {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.submit-btn:hover, .delete-btn:hover, .user-name:hover, .back-btn:hover, .edit-btn:hover {
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.grid-items {
  border: 1px solid black;
  width: 70%;
  margin: auto;
}

.user-name {
  font-size: 2rem;
  padding: 10px 0;
}

.msg-body {
  font-size: 1rem;
  padding: 10px 0;
  font-style: italic;
}

.delete-btn, .back-btn, .edit-btn {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1rem;
}